VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
VITE_IMAGEKIT_PUBLIC_KEY=""
VITE_IMAGEKIT_URL_ENDPOINT=""
VITE_IMAGEKIT_AUTHENTICATION_ENDPOINT="/api/imagekit-auth" # Tu backend"